body {
  margin: 0;
  font-family: 'Times New Roman', sans-serif;
  background-color: #ececec;
  padding: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
